@model CoopDEJC.Models.CoopDBModels.Cliente
@{
    ViewData["Title"] = "My Profile";
    Layout = null;
}
<html>
    <head>
        <link href="~/css/MyProfileCSS.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <!--Este parrafo debe tener como texto el nombre del Usuario -->
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M12.0049 2C17.5277 2 22.0049 6.47715 22.0049 12C22.0049 17.5228 17.5277 22 12.0049 22C9.57847 22 7.3539 21.1358 5.62216 19.6985L5.37815 19.4892L6.27949 17.5875C7.73229 19.0759 9.76067 20 12.0049 20C16.4232 20 20.0049 16.4183 20.0049 12C20.0049 7.58172 16.4232 4 12.0049 4C7.66997 4 4.14034 7.44784 4.00869 11.7508L4.00488 12H6.50488L3.79854 17.7161C2.66796 16.096 2.00488 14.1254 2.00488 12C2.00488 6.47715 6.48204 2 12.0049 2ZM13.0049 6V8H15.5049V10H10.0049C9.72874 10 9.50488 10.2239 9.50488 10.5C9.50488 10.7455 9.68176 10.9496 9.91501 10.9919L10.0049 11H14.0049C15.3856 11 16.5049 12.1193 16.5049 13.5C16.5049 14.8807 15.3856 16 14.0049 16H13.0049V18H11.0049V16H8.50488V14H14.0049C14.281 14 14.5049 13.7761 14.5049 13.5C14.5049 13.2545 14.328 13.0504 14.0948 13.0081L14.0049 13H10.0049C8.62417 13 7.50488 11.8807 7.50488 10.5C7.50488 9.11929 8.62417 8 10.0049 8H11.0049V6H13.0049Z" fill="rgba(225,225,234,1)"></path></svg>
                 <p>@Model.Nombre @Model.Apellido</p>
                 <ul>
                     <li>
                        <a href="@Url.Action("Index","Home")">
                            <img src="~/img/Home-Index.svg"/><span>Index</span>
                        </a>
                     </li>
                      <li>
                        <a href="#">
                            <img src="~/img/Loans.svg"/><span>Loans</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                            <img src="~/img/Investment.svg"/><span>Investment</span>
                        </a>
                      </li>
                      <li>
                          <a href="@Url.Action("MyProfile","Home")">
                            <img src="/img/apps-line.svg"/><span>My Profile</span>
                          </a>
                      </li>
                 </ul>
            </div>
        </div>
        <div class="header">
            <a href=@Url.Action("SignOut","Login")>Sign Out</a>
        </div>
        <div class="container">
            <div class="title">
                <h2>My Profile</h2>
                <span></span>
            </div>
        <form class="formbox" action=@Url.Action("SignOut") method="post">
                <div class="textboxes">
                    <input id="inptName" name="name" type="text" maxlength="100" placeholder="Name" value=@Model.Nombre required />
                    <label id="lblName" for="name">Name</label>

                    <input id="inptLast" name="lname" type="text" maxlength="100" value=@Model.Apellido required />
                    <label id="lblLast" for="lname">Last Name</label>

                    
                    <input id="inptMail" name="email" type="email" maxlength="100" autocomplete="off" value=@Model.Correo readonly />
                    <label id= "lblMail" for="email">Email</label>
                </div>
                <div class="textboxes">
                    <input id="inptID" name="id" type="text" maxlength="13" minlength="13" value=@Model.Cedula readonly />
                    <label id="lblID" for="id">ID</label>
                    @*Revision pendiente:Acorta palabras*@
                    <input id="inptLocat" name="location" type="text" value=@Model.Direccion required />
                    <label id="lblLocat" for="location">Location</label>

                    <input id="inptNum" name="phone" type="tel" maxlength="12" minlength="12" value =@Model.Telefono required />
                    <label id="lblNum" for="phone">Phone Number</label>
                </div>
                <div class="textboxes">
                    <input id="inptPass" name="password" type="password" maxlength="100" value=@Model.Clave required />
                    <label id="lblPass" for="password">Password</label>
                </div>
                <div class="btnsubmit">
                    <input id="subtmit" type="submit" value="Save changes" />
                </div>
            </form>
                    <button id="btnmacc">Manage Account</button>
            <div class="footer">
            </div>
        </div>
        <div class="maccount" id="idmaccount">
            <center class="formBox-mag">
                <div class="container-mag">
                    <div class="title-mag">
                        <h2>Accounts <hr /></h2>
                        <svg onclick="btnManageClose()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z" fill="rgba(17,43,60,1)"></path></svg>
                    </div>
                    <div class="acclist">
                        <!--Esto va con un foreach, supongo xd-->
                        <button id="btnnacc" onclick="btnNewAcc()" .href="@Url.Action("NewAccount","Home")">New Account</button>
                        <ul>
                            <li>
                                <span>XXX-XXXX-XXX</span>
                                <p>Investments</p>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z" fill="rgba(17,43,60,1)"></path></svg>
                            </li>
                            <li>
                                <span>XXX-XXXX-XXX</span>
                                <p>Loans</p>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z" fill="rgba(17,43,60,1)"></path></svg>
                            </li>
                            <li>
                                <span>XXX-XXXX-XXX</span>
                                <p>Investments</p>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z" fill="rgba(17,43,60,1)"></path></svg>
                            </li>
                            <li>
                                <span>XXX-XXXX-XXX</span>
                                <p>Investments</p>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z" fill="rgba(17,43,60,1)"></path></svg>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="footer">
                </div>
            </center>
        </div>
        <div class="faccount" id="idfaccount">
            <center class="formBox-popup">
                <div class="container-popup">
                    <div class="title-popup">
                        <h2>New account</h2>
                        <hr />
                    </div>
                    <form>
                        <div class="textboxes-popup">
                            <input type="text" minlength="10" maxlength="10" placeholder="Account Number" required />
                            <input type="text" maxlenght="100" placeholder="Bank Name" required />
                        </div>
                        <div class="textboxes-popup">
                            <input type="text" maxlength="100" placeholder="Direction" required />

                            <!--Agregar un color gris a la primera opción, para que quede a juego con los demás placeholders-->
                            <select id="typeacc" required>
                                @*<option value="" disabled selected>Type</option>*@
                                <option value="Cuenta Corriente">Cuenta Corriente</option>
                                <option value="Cuenta con Chequera">Cuenta con Chequera</option>
                                <option value="Cuenta de Ahorro">Cuenta de Ahorro</option>
                                <option value="Cuenta de Nómina">Cuenta de Nómina</option>
                                <option value="Cuenta en Dólares">Cuenta en Dólares</option>
                            </select>
                        </div>
                        <div class="btnsubmit-popup">
                            <input type="submit" value="Create Account" />
                        </div>
                    </form>
            </div>
                <span id="popup-img">
                    <svg onclick="btnNewAccClose()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z" fill="rgba(17,43,60,1)"></path></svg>
                    <img src="/img/FirstAccount.svg" />
                </span>
            </center>
        </div>
    </body>
</html>