@model CoopDEJC.Models.CoopDBModels.CuotaPrestamo;
@{
    Layout = null;
    var rowcount = 1 + ViewBag.Meses;

    double saldo = Model.Monto;
    double cuota = Math.Round((Model.Monto * ViewBag.TEM) / (1 - Math.Pow(1 + ViewBag.TEM, -ViewBag.Meses)), 2);
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>LoansReport</title>
</head>
<body>
    <div class="header">
    </div>
    <div class="container">
        <div class="title">
            <h1>Cuotas del prestamo #@Model.CuotaPrestamoID</h1>
        </div>
        <div class="lfdata">
            <h3>Cantidad del prestamo: $@Model.Monto.ToString("N3")</h3>
            <h3>Tasa de interés anual: @Model.Prestamo.Interes.ToString("N2")%</h3>
            <h3>Tasa de interés mensual: @ViewBag.TEMPCT.ToString("N2")%</h3>
            <h3>Plazo del préstamo: @ViewBag.meses meses</h3>
        </div>
        <div>
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Periodos</th>
                        <th>Fecha de pago estimada</th>
                        <th>Fecha de pago realizada</th>
                        <th>Modalidad de pago</th>
                        <th>Monto de la cuota</th>
                        <th>Código comprobante</th>
                    </tr>
                </thead>
                <tbody>
      
                    @for (int i = 1; i < rowcount; i++)
                    {
                        double interes = Math.Round(saldo * (ViewBag.TEM), 2);
                        double amortizacion = Math.Round(cuota - interes, 2);
                        saldo = Math.Round(saldo - amortizacion, 2);
                        <tr>
                            <td>@i.ToString()</td>
                            <td>@Model.Prestamo.FechaInicio.AddMonths(i).ToShortDateString()</td>
                            <td>@DateTime.Now.ToShortDateString()</td>
                            <td>@Model.Tipo</td>
                            <td>@String.Format(new System.Globalization.CultureInfo("es-DO"),"{0:C}",cuota)</td>
                            <td>@Model.Codigo</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>