@model CoopDEJC.Models.CoopDBModels.CuotaInversion;
@{
    Layout = null;
    var rowcount = 1 + ViewBag.Meses;

    double monto = Model.Monto;
    double callinteres = Math.Round(ViewBag.TEM, 2);


}
<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>LoansReport</title>
</head>
<body>
    <div class="header">
    </div>
    <div class="container">
        <div class="title">
            <h1>Cuotas de la Inversión #@Model.CuotaInversionID</h1>
        </div>
        <div class="ifdata">
            <h3>Monto a invertir: @String.Format(new System.Globalization.CultureInfo("es-DO"),"{0:C}",Model.Monto)</h3>
            <h3>Tasa de interés anual: @Model.Inversion.Interes.ToString("N2")%</h3>
            <h3>Tasa de interés mensual: @ViewBag.TEMPCT.ToString("N2")%</h3>
            <h3>Plazo de la inversión: @ViewBag.meses meses</h3>
        </div>
        <div>
            <table class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Periodos</th>
                        <th>Fecha de pago estimada</th>
                        <th>Fecha de pago realizada</th>
                        <th>Rentabilidad</th>
                        <th>Código comprobante</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 1; i < rowcount; i++)
                    {
                        double valor = Math.Round((monto * callinteres), 2);
                        <tr>
                            <td>@i.ToString()</td>
                            <td>@Model.Inversion.FechaInicio.AddMonths(i).ToShortDateString()</td>
                            <td>@DateTime.Now.ToShortDateString()</td>
                            <td>@String.Format(new System.Globalization.CultureInfo("es-DO"),"{0:C}",valor)</td>
                            <td>@Model.Codigo</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>